.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0 150px 0 150px;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li:last-child {
    float: right;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar a:hover {
    background-color: #424b54;
    /*trick to replace solid border from .active with background color*/
    border-bottom-width: 5px;
    border-bottom: solid #424b54;
}

.navbar a.active {
    border-bottom-width: 5px;
    border-bottom: solid #D92925;
}

/*
.navbar a.active {
    background-color: #D92925;
}
*/
