.timeline {
    position: relative;
    width: 100%;
    padding: 40px 60px;
}

.timeline::after {
    content: "";
    position: absolute;
    top: 45px;
    bottom: 45px;
    width: 4px;
    left: 76px;
    background: #D92925;
    border-radius: 2px;
    z-index: -2;
}

.timeline article {
    position: relative;
    left: 0;
    background: #333;
    width: calc(100% - 40px);
    padding: 1px 20px;
    color: white;
    border-radius: 15px;
    margin: 0 0 0 48px;
    z-index: -1;
}

.timeline article + article {
    margin-top: 20px;
}

.timeline article::before {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    left: -41px;
    background: #333;
    width: 18px;
    height: 18px;
    border: 2px #D92925 solid;
    border-radius: 50%;
    z-index: -1;
}

.timeline .project .title {
    font-size: 1.5em;
    margin: 0.83em 0;
    font-weight: bold;
}

.timeline .project .title::before {
    content: attr(before-date);
    position: absolute;
    top: 20px;
    left: -90px;
    font-size: 0.75em;
}